body{
    overflow-x: hidden;
}

h2{
    font-size: 2em;
}

input{
    padding:10px 10px 10px;
    width:80%;
    border:1px solid black;
    margin-right: 20px;
}
button{
    padding:10px 10px 10px;
    border:1px solid black;
    cursor: pointer;
    background-color: aqua;
    margin-top: 10px;
    outline: none;
    margin-right: 20px;
}

